<template>
  <div>
    <header>
      <div class="left-header">
        <h2>
          <i class="fa fa-rocket" aria-hidden="true"></i>AE
          <span>LIBRARY SYSTEMS</span>
        </h2>
      </div>
      <div class="right-header">
        <a href="#" class="logout_btn"
          ><i class="fa fa-sign-out" aria-hidden="true"></i
          ><span>Log Out</span></a
        >
      </div>
    </header>
  </div>
</template>
<style>
@import "../assets/css/style.css";
</style>
