<template>
  <div>
    <div class="wrapper">
      <nav id="sidenav">
        <!--Side Nav components-->
        <center>
          <img src="../assets/img/profile.jpg" class="profile_image" alt="" />
          <h4>USER</h4>
        </center>
        <ul class="list-unstyled components">
          <li class="active">
            <a
              href="#homesub"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              ><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a
            >
            <ul class="collapse list-unstyled" id="homesub">
              <li>
                <a href="index.html"
                  ><i class="fa fa-desktop" aria-hidden="true"></i
                  ><span> Dashboard </span></a
                >
              </li>
            </ul>
          </li>
          <!--For Patron Management-->
          <li>
            <a
              href="#PatronSubMenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              ><i class="fa fa-address-book" aria-hidden="true"></i
              ><span>Patron Management</span></a
            >
            <ul class="collapse list-unstyled" id="PatronSubMenu">
              <li>
                <a href="patron.html"
                  ><i class="fa fa-user-plus" aria-hidden="true"></i
                  ><span>Add Patron</span></a
                >
              </li>
            </ul>
          </li>
          <!--End of Patron Management-->
          <!--For Book Management-->
          <li>
            <a
              href="#BooksSubMenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              ><i class="fa fa-book" aria-hidden="true"></i
              ><span>Book Management</span></a
            >
            <ul class="collapse list-unstyled" id="BooksSubMenu">
              <li>
                <a href="books.html"
                  ><i class="fa fa-id-card" aria-hidden="true"></i
                  ><span>Add Books</span></a
                >
              </li>
            </ul>
          </li>
          <!--End of Book Management-->
          <li>
            <a href="settings.html"
              ><i class="fa fa-cogs" aria-hidden="true"></i
              ><i><span> Settings </span></i></a
            >
          </li>
        </ul>
        <!--End of Side Nav Components-->
      </nav>
    </div>
  </div>
</template>
<style>
@import "../assets/css/style.css";
</style>
