#table_contents{
	width: 1000px;
	position: relative;
	top: 100px;
	left: 540px;
}
.modal_form{
	padding: 5px;
	background: #E31F16;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 40px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 600px;
	color: #fff;
}