body {
  margin: 0px;
  padding: 0px;
  background: #c69d2d;
}
a,
a:hover a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
header {
  position: fixed;
  background: #121e0d;
  padding: 20px;
  width: 100%;
  height: 70px;
}
.left-header h2 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900px;
}
.left-header span {
  color: #e3a216;
}
.logout_btn {
  padding: 5px;
  background: #e31f16;
  text-decoration: none;
  float: right;
  margin-top: -40px;
  margin-right: 40px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
}
.logout_btn:hover {
  background: #fff;
}
/*sidenav*/
/*.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}*/
#sidenav {
  background: #344140;
  color: #e3a216;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 335px;
  height: 100%;
}
#sidenav ul li a {
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  display: block;
}
/*sidenav dropdown content*/
#sidenav ul ul li a {
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
  display: block;
}
/*end of sidenav dropdown contents*/
#sidenav ul li a:hover {
  color: #e3a216;
  background: #fff;
}
#sidenav ul li.active > a,
a[aria-expanded="true"] {
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle: :after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
/*profile image*/
.wrapper .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}
#table_contents {
  width: 1000px;
  position: relative;
  top: 100px;
  left: 540px;
}
.modal_form {
  padding: 5px;
  background: #e31f16;
  text-decoration: none;
  float: right;
  margin-top: -40px;
  margin-right: 40px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
}
/* @import "./patron.css"; */
