body{
	margin: 0px;
	padding: 0px;
	background: #C69D2D;
}
a,
a:hover
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
header{
	position: fixed;
	background: #121E0D;
	padding: 20px;
	width:100%;
	height: 70px;
}
.left-header h2{
	color:#fff;
	margin:0;
	text-transform: uppercase;
	font-size: 22px
	font-weight:900px;
}
.left-header span{
	color:#E3A216;
}
.logout_btn{
	padding: 5px;
	background: #E31F16;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 40px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 600px;
	color: #fff;
}
.logout_btn:hover{
	background: #fff;
}
/*sidenav*/
/*.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}*/
#sidenav{
	background: #344140;
	color: #E3A216;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 335px;
	height: 100%;
}
#sidenav ul li a{
	padding: 10px;
	font-size: 22px;
	font-weight: 600;
	display: block;
}
/*sidenav dropdown content*/
#sidenav ul ul li a{
	padding: 10px;
	font-size: 22px;
	font-weight: 600;
	margin-left: 30px;
	display: block;
}
/*end of sidenav dropdown contents*/
#sidenav ul li a:hover{
	color: #E3A216;
	background: #fff;
}
#sidenav ul li.active>a,
a[aria-expanded="true"]{
}
a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle: :after{
	display: block;
	position: absolute;
	top: 50%;
	right:20%;
	transform: translateY(-50%);
}
/*profile image*/
.wrapper .profile_image{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
}
