<template>
  <div>
    <NavBar />
    <div class="table">
      <table id="table_contents">
        <tr>
          <th>Name of Book</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Actions</th>
          <th>
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#delete"
            >
              <i class="fa fa-plus" aria-hidden="true"></i><span></span>
            </button>
            <div class="modal fade" id="delete" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">ADD BOOK?</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <label for="fname">TITLE</label><br />
                      <input type="text" id="fname" name="fname" /><br />
                      <label for="lname">AUTHOR</label><br />
                      <input type="text" id="lname" name="lname" /><br /><br />
                      <input type="submit" value="Submit" />
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                    >
                      OKAY
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                    >
                      CANCEL
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </th>
        </tr>
        <!--contents-->
        <tr>
          <td>
            Harry Potter
          </td>
          <td>
            JK Rowling
          </td>
          <td>
            October 10,2020
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              data-toggle="modal"
              data-target="#delete"
            >
              <i class="fa fa-trash" aria-hidden="true"></i><span></span>
            </button>
            <div class="modal fade" id="delete" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">DELETE BOOK?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure to delete book?</p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                    >
                      OKAY
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                    >
                      CANCEL
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            Percy Jackson
          </td>
          <td>
            Rick Riordan
          </td>
          <td>
            October 10,2020
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              data-toggle="modal"
              data-target="#delete"
            >
              <i class="fa fa-trash" aria-hidden="true"></i><span></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>
            Da Vinci Code
          </td>
          <td>
            Dan Brown
          </td>
          <td>
            October 10,2020
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              data-toggle="modal"
              data-target="#delete"
            >
              <i class="fa fa-trash" aria-hidden="true"></i><span></span>
            </button>
          </td>
        </tr>

        <tr>
          <td>
            All of It Is You
          </td>
          <td>
            Nikko Tortella
          </td>
          <td>
            October 10,2020
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              data-toggle="modal"
              data-target="#delete"
            >
              <i class="fa fa-trash" aria-hidden="true"></i><span></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <SideBar />
  </div>
</template>
<script>
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";
export default {
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
