<template>
  <div>
    <NavBar />
    <div
      class="chartContainer"
      style="position: fixed; height: 40vh; width: 80vw"
    >
      <canvas id="myChart" style="margin-top: 80px; margin-left:50px"></canvas>
    </div>
    <SideBar />
  </div>
</template>
<script>
import Chart from "chart.js";
import NavBar from "../components/Navbar";
import SideBar from "../components/Sidebar";

export default {
  components: {
    NavBar,
    SideBar,
  },
  mounted: function() {
    var ctx = document.getElementById("myChart");
    new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [
          {
            label: "# of Votes",
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              "Red",
              "Blue",
              "Black",
              "Green",
              "Orange",
              "White",
            ],
            borderColor: [
              "rgba(255, 99, 132, 1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)",
            ],
            borderWidth: 1,
          },
        ],
      },
    });
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
