<template>
  <div id="app">
    <NavBar />
    <SideBar Active="setting" />
  </div>
</template>

<script>
import Header from "../components/Header";
import SideBar from "../components/Sidebar";
export default {
  name: "App",
  components: {
    Header,
    SideBar,
  },
};
</script>
<style>
@import "../assets/css/style.css";
</style>
