<template>
  <NavBar />
  <SideBar />
</template>

<script>
import SideBar from "../components/Sidebar";
import NavBar from "../components/Navbar";

export default {
  name: "App",
  components: {
    SideBar,
    NavBar,
  },
};
</script>

<style>
@import "../assets/css/style.css";
</style>
